<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="我的发帖">
  <ion-content class="padding">

      <div class="item item-avatar">
        <img src="img/watch.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <ion-item class="item item-body item-icon-right" type="item-text-wrap" href="#tab/chat/1">
        <h2>Marty McFly</h2>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
          <span class="item-note positive">2015-05-21</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item item-body">
        <h2>Marty McFly</h2>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
          <span>November 05, 1955</span>
        </p>
      </ion-item>


  </ion-content>
</ion-view>
