<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="物业介绍">
  <ion-content class="padding">
    <a class="item item-icon-left" href="#tab/dash/notify/1">
      <i class="icon ion-email"></i>
      物业通知1111
      <span class="item-note">
        2015-05-18
      </span>
    </a>
    <a class="item item-icon-left" href="#tab/dash/notify/1">
      <i class="icon ion-email"></i>
      物业通知2222
      <span class="item-note">
        2015-05-18
      </span>
    </a>
    <a class="item item-icon-left" href="#tab/dash/notify/1">
      <i class="icon ion-email"></i>
      物业通知3333
      <span class="item-note">
        2015-05-18
      </span>
    </a>
  </ion-content>
</ion-view>
