<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="物业介绍">
  <ion-content class="padding">
    <div class="list">
    <div class="item item-button-right">
      0931-6666666
      <button class="button button-positive">
        <i class="icon ion-ios-telephone"></i>
      </button>
    </div>

    <div class="item item-button-right">
      0931-8888888
      <button class="button button-positive">
        <i class="icon ion-ios-telephone"></i>
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
