<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="物业通知">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        物业通知1111
      </div>
      <div class="item item-text-wrap">
        物业通知1111物业通知1111物业通知1111物业通知1111物业通知1111物业通知1111物业通知1111物业通知1111
        <p style="padding-top: 10px;color: #aaa;font-size: 14px;">2015-05-18</p>
      </div>
      <!--
      <p style="padding-top: 10px; padding-left: 18px; color: #aaa;font-size: 14px;">2015-05-18</p>
      -->
    </div>
  </ion-content>
</ion-view>
