<ion-view view-title="便民服务" >
  <ion-content class="padding">
    <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
      <img src="img/watch.png" calss="icon" style="hight:200px; font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">

    </div>
    <div class="row">
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>Venkman</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>Venkman</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>Venkman</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>Venkman</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>Venkman</h2>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>

