<ion-view view-title="小区服务" >
  <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-android-pin" ng-click="openModal()">{{selectedLoc}}</button>
    </ion-nav-buttons>
    <!--
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus" ng-click="addNewRecordClick()"></button>
    </ion-nav-buttons>
    -->
  <ion-content class="padding">
    <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
      <img src="img/watch.png" calss="icon" style="hight:200px; font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">

    </div>
    <div class="row">
      <div class="col-33">
        <a class="item item-menu" href="#/tab/dash/intro">
          <img src="img/venkman.png">
          <h2>物业介绍</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#/tab/dash/notifies">
          <img src="img/venkman.png">
          <h2>物业通知</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>物业保修</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <a class="item item-menu" href="##/tab/dash/tel">
          <img src="img/venkman.png">
          <h2>物业电话</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>物业交费</h2>
        </a>
      </div>
      <div class="col-33">
        <a class="item item-menu" href="#">
          <img src="img/venkman.png">
          <h2>建议投诉</h2>
        </a>
      </div>

    </div>
    <!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>

<script id="location-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-clear button-positive" ng-click="closeModal()">取消</button>
      <h1 class="title">选择附近小区</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <div class="list list-inset" ng-repeat="item in items">

        <a class="item" href="#" ng-click="selectedConfirm(item.name)">
          <h2>{{item.name}}</h2>
          <span>{{item.loc}}</span>
          <span class="item-note">{{item.distance}}</span>
        </a>
        <a class="item" href="#">
          <h2>测试小区2</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

    </div>
    </ion-content>
  </ion-modal-view>
</script>
