/* Empty. Add your own CSS if you like */
.item-menu {
  padding: 0;
  text-align: center;
}
.item-menu img:first-child{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
}
.item-menu h2{
	padding-bottom: 20px;
}
